// SPDX-License-Identifier: GPL-2.0-or-later OR MIT

#include "binman.dtsi"

/* SPL-only availability and U-Boot regulator lookup names. */
&{/soc} {
	bootph-pre-ram;
};

&{/soc/storage-bus} {
	bootph-pre-ram;
};

&{/cpus} {
	bootph-pre-ram;
};

&cpu_0 {
	bootph-pre-ram;
};

&uart0 {
	bootph-pre-ram;
};

&clint {
	clock-frequency = <24000000>;
	bootph-pre-ram;
};

&osc_32k {
	bootph-pre-ram;
};

&vctcxo_1m {
	bootph-pre-ram;
};

&vctcxo_3m {
	bootph-pre-ram;
};

&vctcxo_24m {
	bootph-pre-ram;
};

&pll {
	bootph-pre-ram;
};

&syscon_mpmu {
	bootph-pre-ram;
};

&syscon_apmu {
	bootph-pre-ram;
};

&syscon_apbc {
	bootph-pre-ram;
};

&i2c2 {
	bootph-pre-ram;

	eeprom@50 {
		bootph-pre-ram;
	};
};

&i2c8 {
	bootph-pre-ram;

	pmic@41 {
		bootph-pre-ram;

		regulators {
			buck1 {
				regulator-name = "vdd_core";
				bootph-pre-ram;
			};

			buck3 {
				regulator-name = "vdd_1v8";
				bootph-pre-ram;
			};

			aldo1 {
				regulator-name = "vdd_1v8_mmc";
				bootph-pre-ram;
			};
		};
	};
};

&emmc {
	max-frequency = <204800000>;
	bootph-pre-ram;
};

&binman {
	u-boot-spl-ddr {
		type = "section";
		filename = "u-boot-spl-ddr.bin";
		pad-byte = <0xff>;

		u-boot-spl {
		};

		ddr-fw {
			type = "blob";
			filename = "ddr_fw.bin";
			align = <64>;
		};

		u-boot-any {
			type = "section";
			size = <0>;
			offset = <0>;
		};
	};
};
